body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#toggle{
  height: 60px;
  width: 110px;
  background-color: rgb(43, 41, 41);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px ;
  padding: 0px 7px;
  cursor: pointer;

}
#circle{
  background-color: rgb(248, 248, 248);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.25, 1.5, 0.5, 1), background-color 0.7s ease;
}

#text{
  font-size: 5rem;
  margin: 150px;
  text-align: center;
  transition: color 0.7s ease;
}
.color-white{
  color: rgb(255, 252, 252);
  text-shadow: -10px 0px 9px #29261d;

}

.bg-night{
  background-image: url(night\ time.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-day{
  background-image: url(day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sliding{
  transform: translateX(calc(100% + 10px));
}